body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(113,80,156,1) 35%, rgba(207,232,227,1) 100%);
}
h1 {
    color: #4B0082
}
p {
    color: #4B0082;
    padding: 12px;
    border: 2px solid #000000;
    font-size: 24px;
}